<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
  
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script src="code/js/sorttable.js"></script>

<!-- todo -->
<!-- search table:  https://www.w3schools.com/howto/howto_js_filter_table.asp -->
<!-- count elements after filter dropdown met checkboxes voor waar je op wil filteren -->

    <title>My collection</title>
	<link rel="stylesheet" type="text/css" href="code/templates/index.css"/>

  </head>

  <body class="background">
  <div class="container">
	<div class="row">
		<section class="content">
			<div class="dropdown pull-left">
							<select id="dropdown-filter">
								<option value="all">Alles</option>
								<!-- Hier komen alle dropdown opties -->
								[[OPTIONS]]
							</select>
						</div>
			<h1 style="padding-right:22%;">My collection</h1>
			<div class="col-xs-100">
				<div class="panel panel-default">
					<div class="panel-body">
						<div class="table-container">
							<table id="collectionTable" class="table table-filter sortable">
								<thead>
									<!-- Hier komen alle tabel headers -->
									[[THEADERS]]
								</thead>
								<tbody>
									<!-- Hier komt de daadwerkelijke data -->
									[[TROWS]]
								</tbody>
							</table>
						 </div>
					</div>
				</div>
			</div>
		</section>
		
	</div>
</div>
<script>
$('#dropdown-filter').on('change', function () {
      var $target = $(this).val();
      if ($target != 'all') {
        $('tbody tr').css('display', 'none');
        $('tbody tr[data-status="' + $target + '"]').show();
      } else {
        $('tbody tr').css('display', 'none').fadeIn('slow');
      }
    });
</script>
   </body>
</html>
